*{
    margin:0;
    padding:0;
    font-family:Helvetica, Arial, sans-serif;
    color:white;
}
body{
    margin:0;
    padding:0;
    background-color:black;
}


h1{
    font-weight:500;
    font-size:2em;
}
h2{
    font-size:1em;
    font-weight:bold;
    /* text-transform:uppercase; */
    /* font-weight:500;
    font-size:1em; */
}
h3{
    font-weight:500;
    font-size:.85em;
}
p{
    margin-top:20px;
    margin-bottom:20px;
    font-size:.75em;
    line-height:1.5em;
}
a{
    margin:auto 0;
    /* padding:0 10px; */
    text-decoration:none;
    text-transform:uppercase;
    color:white;
}
a:link,a:hover,a:active,a:visited{
    text-decoration:none;
    /* color:inherit; */
}


header,section,footer{
    padding-left:50px;
    padding-right:50px;
}
header,footer{
    padding-top:15px;
    padding-bottom:15px;
    display:flex;
    flex-direction:row nowrap;
    justify-content:space-between;
    background-color: darkslategray;
}
header::before{
    filter:blur(8px);
}
nav{
    margin:auto 0;
    padding:0;
    display:flex;
    flex-direction:row nowrap;
    gap:30px;
}
main{
    margin:auto;
}
section{
    padding-bottom:100px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:30px;
}
#one{
    padding-top:100px;
    flex-direction:row-reverse;
    gap:none;
    /* background-color:cadetblue; */
}
#two{
    padding-left:0;
    padding-right:0;
    flex-direction:column;
    gap:none;
}
#three{
    flex-direction:row;
    align-items:flex-start;
}
#four{
    flex-direction:column;
}
#five{
    flex-direction:row;
    align-items:flex-start;
}


.logo img{
    height:30px;
}
.button{
    padding:10px 15px;
    width:fit-content;
    background-color:white;
    border:none;
    border-radius:5px;
    color:darkslategrey;
    font-weight:bold;
}
.button:link,.button:hover,.button:active,.button:visited{
    text-decoration:none;
    /* color:darkslategrey; */
}

.flex{
    display:flex;
    flex-flow:row wrap;
    align-items:center;
    justify-content:center;
    gap:30px;
}
.container{
    margin:5px;
    padding:30px;
    background-color:darkslategrey;
    border-radius:5px;
}
#two .container{
    margin-top:-100px;
    width:50%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
#four .container{
    max-width:200px;
    min-width:150px;
    display:flex;
    flex-direction:column;
}

.one__text{
    /* margin-right:-100px; */
    max-width:35%;
    min-width:325px;
}
.one__text h1{
    color:white;
    font-weight:bolder;
}
.three__text,.five__text{
    width:30%;
    min-width:300px;
}

.one__image{
    margin-left:-150px;
    /* padding-bottom:30%;
    width:30%;
    height:0; */
    width:50%;
    min-width:400px;
    height:400px;
    background: url(../img/image1.jpg) no-repeat center / cover;
    border-radius:5px;
}
.two__image{
    height:400px;
    width:100%;
    background: url(../img/image2.jpg) no-repeat center / cover;
}
.three__image{
    height:400px;
    width:50%;
    min-width:400px;
    background: url(../img/image3.jpg) no-repeat center / cover;
    border-radius:5px;
}