*{
    margin:0;
    padding:0;
}
body{
    margin:0;
    padding:0 50px;
    font-family:'Helvetica', sans-serif;
    background-color:gainsboro;
}
header{
    background-color:antiquewhite;
    text-align:center;
    display:flex;
    flex-direction:row nowrap;
    justify-content:space-between;
    padding:0 10px;
    /* display:flex;
    flex-direction: row nowrap;
    justify-content:space-between;
    text-decoration:none; */
}
nav{
    list-style-type:none;
    margin:auto 0;
    padding:0;
    overflow:hidden;
}
#one{
    background-color:pink;
    padding:auto;
}
#two{
    background-color:cornflowerblue;
}
h1{
    font-weight:500;
    font-size:2em;
}
h2{
    font-weight:500;
    font-size:1em;
}
.center{
    text-align:center;
}
h3{
    font-weight:500;
    font-size:.85em;
}
p{
    font-size:.75em;
}
button{
    background-color: transparent;
    border: none;
    padding:5px;
    margin:5px 0;
    width:fit-content;
}
a{
    text-decoration:none;
    font-size:.75em;
    text-decoration-color: black;
    padding:0;
    margin:0;
}
a:link{
    text-decoration:none;
    color: black;
}
a:hover{
    text-decoration:none;
    color: black;
}
a:active{
    text-decoration:none;
    color: black;
}
a:visited{
    text-decoration:none;
    color: black;
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}
li{
    float:left;
}
/*li a{
    display:block;
    text-align:right;
    margin:5px 16px 5px 16px;
    padding:5px;
    text-decoration:none;
}*/
/* .home{
    display:block;
    width:60px;
    height:20px;
    margin:auto;
} */
/* .button{
    padding:5px;
    margin:5px 0;
    width:fit-content;
} */
.button_emphasis{
    background-color:white;
    border:.5px solid black;
    border-radius:5px;
}
.button_logo{
    margin:auto 0;
}
.button_logo img{
    height:30px;
    width:auto;
}
/* a.border{
    border-radius:5px;
} */
.bkgd-pic{
    margin:auto;
}
.one__pic{
    position:relative;
    top:50px;
    left:100px;
    width:300px;
    height:300px;
}
.two__pic img{
    width:inherit;
}
/* img{
    width:inherit;
} */
.one__text{
    position:absolute;
    top:160px;
    left:50px;
    width:30%;
}
/* .pic{
    height:auto;
    background-image: url(../img/frame.png);
} */
.flexbox{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}
.container{
    margin:5px;
    padding:30px;
    background-color:white;
    border:.5px solid black;
    border-radius:5px;
}
/* section{
    margin:30px;
} */
/* .sec{
    display:flex;
    flex-direction:row nowrap;
}
.sec-container{
    padding:10px;
}
.s3-img{
    display:block;
    height:200px;
    object-fit:scale-down;
    margin:auto;
} */
/* .fourBox-container{
    background-color:antiquewhite;
    border:.5px solid black;
    border-radius:5px;
    margin:5px;
    padding:10px;
} */