*{
    margin:0;
    padding:0;
    font-family:Helvetica, Arial, sans-serif;
    color:white;
}
body{
    margin:0;
    padding:0;
    background-color:black;
}


h1{
    font-weight:500;
    font-size:2em;
}
h2{
    font-size:1em;
    font-weight:bolder;
    letter-spacing:3px;
    text-transform:uppercase;
}
h3{
    font-weight:bold;
    font-size:.85em;
    letter-spacing:2px;
    text-transform:uppercase;
}
p{
    margin-top:20px;
    margin-bottom:20px;
    font-size:.75em;
    line-height:1.5em;
}
a{
    margin:auto 0;
    text-decoration:none;
    text-transform:lowercase;
    font-size:.75em;
    color:white;
}
:link,:hover,:active,:visited{
    text-decoration:none;
}


header,section,footer{
    padding-left:50px;
    padding-right:50px;
}
header,footer{
    padding-top:30px;
    padding-bottom:30px;
    display:flex;
    flex-direction:row nowrap;
    justify-content:space-between;
}
header{
    position:fixed;
    z-index:100;
    top:0;
    left:0;
    right:0;
    backdrop-filter:blur(5px);
    overflow:hidden;
}
nav{
    margin:auto 0;
    padding:0;
    display:flex;
    flex-direction:row nowrap;
    gap:30px;
}
main{
    margin:auto;
}
section{
    padding-bottom:100px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:30px;
}
#one{
    padding-top:160px;
    flex-direction:row-reverse;
    gap:none;
}
#two{
    padding-left:0;
    padding-right:0;
    flex-direction:column;
    gap:none;
}
#three{
    flex-direction:row;
    align-items:flex-start;
}
#four{
    flex-direction:column;
}
#five{
    flex-direction:row;
    align-items:flex-start;
    height:fit-content;
}


.button{
    padding:10px 15px;
    width:fit-content;
    background-color:white;
    border:none;
    border-radius:5px;
    color:black;
    font-weight:bolder;
    letter-spacing:2px;
    text-transform:uppercase;
}
.logo img{
    height:30px;
}
.logo h1{
    font-weight:bolder;
    letter-spacing:5px;
    text-transform:uppercase;
}

.flex{
    display:flex;
    flex-flow:row wrap;
    align-items:center;
    justify-content:center;
    gap:30px;
}
.container{
    margin:5px;
    padding:30px;
    background-color:black;
    /* border:white solid .1px; */
    border-radius:10px;
    box-shadow:0px 0px 20px 1px rgb(90, 155, 192);
}
#two .container{
    margin-top:-100px;
    max-width:700px;
    width:50%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
#four .container{
    width: 200px;
    display:flex;
    flex-direction:column;
}

.one__text{
    max-width:35%;
    min-width:325px;
}
.one__text h1{
    color:white;
    font-weight:bolder;
}
.three__text,.five__text{
    max-width:450px;
    width:30%;
    min-width:300px;
}

.one__image{
    margin-left:-150px;
    width:50%;
    min-width:400px;
    height:400px;
    background: url(../img/image1.jpg) no-repeat center / cover;
    border-radius:10px;
}
.two__image{
    height:400px;
    width:100%;
    background: url(../img/image2.jpg) no-repeat center / cover;
}
.three__image{
    height:400px;
    max-width:700px;
    width:50%;
    min-width:400px;
    background: url(../img/image3.jpg) no-repeat center / cover;
    border-radius:10px;
}
.five__video{
    margin:0;
    padding:0;
    max-height:400px;
    height:auto;
    max-width:600px;
    width:50%;
    min-width:400px;
    border-radius:10px;
}

@media only screen and (max-width:1000px){
    #three{
        flex-direction:column-reverse;
        align-items:center;
    }
    #five{
        flex-direction:column;
        align-items:center;
    }
    /* .three__text,.five__text{
        min-width:150px;
    } */
    /* .one__image,.three__image{
        min-width:200px;
        height:200px;
    } */
    .three__text,.three_image,.five__text{
        width:50%;
        min-width:400px;
    }
    /* .two__image{
        height:300px;
    } */
}